/* Style */

header .col-md-3 {
    background: #fcfcfc;
    width: 23%;
    box-shadow: 0 4px 6px 0 rgb(0 0 0 / 15%);
    height: 112px;
}

header h1 {
    font-size: 32px;
    font-weight: bolder;
}

header img {
    max-width: 100%;
}

.main-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main-menu {
    float: right;
    background-color: #fff;
    border: none;
    margin-bottom: 0;
    margin-top: 25px;
}

.main-menu li {
    float: left;
}


.main-menu li:hover,
.main-menu li.active {
    color: #1428a0;
    border-bottom: 3px solid #1428a0;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    opacity: 1;
    background: none !important;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #1428a0;
    background-color: #fff;
}

.main-menu li a,
.navbar-inverse .navbar-nav>li>a:focus {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.4s;
}

.loginUser a.logout {
    display: inline !important;
    padding-left: 0;
    margin-left: 0;
}

.navbar-inverse .navbar-nav>li>a {
    color: #000
}

#navbar{

}
#sidebar{
    z-index: 2000;
}

.main-menu li:hover a,
.main-menu li.active a {
    font-weight: 700;
}

.main-menu li a:hover:not(.active),
.main-menu li.active a {
    color: #1428a0;
    /* border-bottom: 3px solid #1428a0; */
}

.main-menu .active {
    background-color: #B93026;
}


/**/

aside {
    float: left;
    min-width: 100%;
    padding: 0;
}

aside .side-menu {
    margin-bottom: 30px;
    padding-left: 15px;
}

aside h3 {
    padding: 0 0 5px 20px;
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu a {
    display: block;
    background-color: floralwhite;
    text-decoration: none;
    padding: 10px 20px;
    color: #000;
}

.main-link {
    color: #f58442;
    display: block;
    text-decoration: none;
    padding: 0px 0px;
    font-size: 20px;
}

.side-menu a svg {
    display: none;
    vertical-align: middle;
    float: right;
}

.side-menu li:hover a svg,
.side-menu li.active a svg {
    display: block;
}

.side-menu a:hover,
.side-menu li.active a {
    background-color: #1428a0;
    color: #fff;
}

.side-menu a:hover {
    background-color: #1428a0e0;
}

.side-menu a:active {
    background-color: midnightblue;
}

.featured-text {
    padding: 0 20px;
}

.main-content-section {
    padding: 10px 40px;
}

.main-content {
    background: #fff;
}

.ui-state-default{
    border: none !important;
}

.ui-state-hover{
    background:none !important;
}

.ui-widget-content{
    border: none !important;
}

.main-content-section h1 {
    margin: 0;
    padding-bottom: 10px;
}

.clear {
    clear: both;
}

.clear::after {
    content: "";
    clear: both;
    display: table;
}

aside {
    border: 1px solid #eee;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: #fff;
}

section {
    border: 1px solid #eee;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: #fff;
}

#upload {
    display: inline-block;
}

.handle-upload label {
    font-weight: 500;
}

.handle-upload label input[type="checkbox"] {
    vertical-align: top;
    width: 14px;
    height: 14px;
    margin-right: 10px;
}

.page-not-found-error {
    font-size: 15em;
}

.page-not-found-error-messages {
    font-size: 20px;
}


/* Footer */

footer {
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: #fff;
    text-align: center;
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 0;
}

.logo.jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-menu {
    margin: 15px;
    padding-bottom: 15px;
}

.footer-menu ul {
    padding: 0;
    margin: 0;
}

.footer-menu li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.footer-menu a {
    color: #333;
}

.footer-menu a:hover {
    color: #999;
}

#copyright {
    height: 60px;
    bottom: 0px;
    left: 0px;
    line-height: 50px;
    color: #333;
    text-align: center;
    width: 100%;
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #cc0000;
    border: none;
    color: white;
    padding: 5px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=submit] {
    width: 12em;
}

input[type=file]::file-selector-button {
    border: 2px solid #6c5ce7;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #a29bfe;
    transition: 1s;
}

input[type=file]::file-selector-button:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
}

.info,
.success,
.warning,
.error,
.validation {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../images/error.png');
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('../images/error.png');
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../images/error.png');
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/error.png');
}

.validation {
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('../images/error.png');
}

input[type="checkbox"]::before {
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}


/* Tool Kit Styles */

.tool-kit-filters {
    background: #919395;
    height: 60px;
    margin-left: -2.4%;
    padding-top: 10px;
}

.pager-info {
    color: #fff;
    font-weight: 700;
}

.pager-info strong {
    margin: 0 20px;
}

.pager-search {
    color: #d9d9d9;
}

.pager-search svg {
    width: 25px;
    margin-right: -30px;
    position: relative;
    margin-left: 20px;
    top: 8px;
    left: 8px;
    color: #d9d9d9;
}

.pager-search input {
    margin: -3px 0 !important;
    width: 40% !important;
    color: #000;
    padding-left: 40px !important;
}

.pager-info .pager-per-page input,
.pager-info .pager-pager input {
    width: 40px;
    margin: -3px 0 !important;
    height: 35px;
    text-align: center;
    padding-right: 0;
    padding-left: 0;
    background: transparent;
}

.pager-info .left-arrow,
.pager-info .right-arrow {
    font-size: 30px;
    line-height: 16px;
    position: relative;
    display: inline;
    top: 6px;
}

.btn-tool-kit {
    margin-left: 3px;
    padding: 6px 20px;
}

@media only screen and (max-width: 1280px) {
    header h1.site-logo {
        font-size: 28px;
    }
}

@media only screen and (max-width: 1023px) {
    aside {
        width: 100%;
        min-width: 100%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1480px) {
    header .col-md-3 {
        width: 22.2%;
    }
}

@media only screen and (min-width: 992px) {
    .main-content-section {
        min-height: 465px;
    }
    aside {
        margin-left: -15px;
    }
    section {
        margin-right: -15px;
    }
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-xs-1,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9 {
        padding-right: 10px;
        padding-left: 10px;
    }
}

select {
    width: 100%;
    padding: 9px 20px;
    margin: 8px 0;
    display: inline-block;
    border-right: 16px solid transparent;
    border-color: #75787B;
    background: rgba(117, 120, 123, 0.05);
    border-width: 0 0 1px;
    outline: 0;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input:focus {
    border-width: 0 0 1px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

span.loginUser {
    display: block;
    text-align: right;
    margin-top: 15px;
    margin-left: 15px;
    color: white;
    margin-bottom: 10px;
}

a.logout {
    cursor: pointer;
    font-size: 15px;
    margin-left: 15px;
}


/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8) url('../images/FhHRx.gif') 50% 50% no-repeat;
}


/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */

body.loading .modal {
    overflow: hidden;
}


/* Anytime the body has the loading class, our
   modal element will be visible */

body.loading .modal {
    display: block;
}

.icon_c {
    content: '';
    display: block;
    height: 28px;
    /*height of icon */
    width: 28px;
    /*width of icon */
    position: absolute;
    /*where to replace the icon */
    top: 0px;
    left: 2px;
    background-size: cover !important;
}

.copy_icon {
    /*background */
    background: url(/images/button.png) no-repeat;
}

.pdf_icon {
    /*background */
    background: url(/images/button.png) no-repeat;
}

.excel_icon {
    /*background */
    background: url(/images/button.png) no-repeat;
}

.csv_icon {
    /*background */
    background: url(/images/button.png) no-repeat;
}

.save_icon {
    /*background */
    background: url(/images/button.png) no-repeat;
}

.edit_icon {
    /*background */
    background: url(/images/button.png) no-repeat;
}

.add_icon {
    /*background */
    background: url(/images/button.png) no-repeat;
}

.delete_icon {
    background: url(/images/button.png) no-repeat;
}

.cancel_icon {
    background: url(/images/button.png) no-repeat;
}

.model_icon {
    background: url(/images/button.png) no-repeat;
}

.upload_icon {
    background: url(/images/button.png) no-repeat;
}

.download_icon {
    background: url(/images/button.png) no-repeat;
}

.refresh_icon {
    background: url(/images/button.png) no-repeat;
}

.dataTables_filter {
    margin-top: 10px;
}

.selected {
    background: gray;
}

.dt-button {
    border: none !important;
    background-color: #fff !important;
    background: none !important;
}
refreshButton {
color:#196;
}
.btn-icon {
    width: 85px !important;
    height: 30px !important;
    border-radius: 7px !important;
    margin-right: -15px !important;
}

.btn-icon-small {
    width: 70px !important;
    height: 30px !important;
    border-radius: 7px !important;
    margin-right: 15px !important;
}

.dataTables_length {
    margin-top: 2px;
    margin-left: 10px !important;
    float: right !important;
}

.navigation {
    validation: center;
    border: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0.56rem 1.13rem;
    font-size: 0.875rem;
    list-style: none;
    background-color: transparent;
    border-radius: 0.25rem;
}

.dataTables_filter input {
    width: 350px !important;
}

.btn-cheil {
    background-color: #333333 !important;
    width: 80% !important;
    border: none;
}

.inputbox-cheil {
    border-color: #75787B;
    background: rgba(117, 120, 123, 0.05);
    width: 100% !important;
    height: 40px;
    border-width: 0 0 1px;
    outline: 0;
}

.inputbox-cheil-small {
    border-color: #75787B;
    background: rgba(117, 120, 123, 0.05);
    width: 100% !important;
    height: 40px;
    border-width: 0 0 1px;
    outline: 0;
    padding: 0 3px 0 3px;
}

.inputbox-cheil-long {
    border-color: #75787B;
    background: rgba(117, 120, 123, 0.05);
    width: 100% !important;
    height: 40px;
    border-width: 0 0 1px;
    outline: 0;
}

.inputbox-cheil-textarea {
    border-color: #75787B;
    background: rgba(117, 120, 123, 0.05);
    width: 100% !important;
    border-radius: 5px;
}

.inputbox-cheil-textarea-report {
    border-color: #75787B;
    background: rgba(117, 120, 123, 0.05);
    border-radius: 5px;
}

.inputbox-cheil-textarea-custom {
    border-color: #75787B;
    background: rgba(117, 120, 123, 0.05);
    border-radius: 5px;
    width: 100% !important;
}

.inputbox-cheil-textarea:focus,
.inputbox-cheil-textarea:active {
    background: #E8E6ED;
}

.inputbox-cheil-textarea-report:focus,
.inputbox-cheil-textarea-report:active {
    background: #E8E6ED;
}

.inputbox-cheil-textarea-custom:focus,
.inputbox-cheil-textarea-custom:active {
    background: #E8E6ED;
}

.inputbox-cheil-textarea:invalid {
    background: rgba(117, 120, 123, 0.05);
}
.inputbox-cheil-textarea-report:invalid {
    background: rgba(117, 120, 123, 0.05);
}

.inputbox-cheil-textarea-custom:invalid {
    background: rgba(117, 120, 123, 0.05);
}

.inputbox-cheil:focus,
.inputbox-cheil:active {
    background: #E8E6ED;
}

.inputbox-cheil-small:focus,
.inputbox-cheil-small:active {
    background: #E8E6ED;
}

.inputbox-cheil-long:focus,
.inputbox-cheil-long:active {
    background: #E8E6ED;
}

.inputbox-cheil:invalid {
    background: rgba(117, 120, 123, 0.05);
}

.inputbox-cheil-small:invalid {
    background: rgba(117, 120, 123, 0.05);
}

.inputbox-cheil-long:invalid {
    background: rgba(117, 120, 123, 0.05);
}

.lg-btn {
    width: 100%;
}

.text-center {
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.choices {
    position: relative;
    margin-bottom: 24px;
    font-size: 16px;
    width: 100% !important;
}

.choices:focus {
    outline: none
}

.choices:last-child {
    margin-bottom: 0
}

.choices.is-disabled .choices__inner,
.choices.is-disabled .choices__input {
    background-color: #eaeaea;
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.choices.is-disabled .choices__item {
    cursor: not-allowed
}

.choices[data-type*=select-one] {
    cursor: pointer
}

.choices[data-type*=select-one] .choices__inner {
    padding-bottom: 7.5px
}

.choices[data-type*=select-one] .choices__input {
    display: block;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #75787B;
    background-color: #75787B;
    margin: 0;
}

.choices[data-type*=select-one] .choices__button {
    padding: 0;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -10px;
    margin-right: 25px;
    height: 20px;
    width: 20px;
    border-radius: 10em;
    opacity: .5
}

.choices[data-type*=select-one] .choices__button:focus,
.choices[data-type*=select-one] .choices__button:hover {
    opacity: 1
}

.choices[data-type*=select-one] .choices__button:focus {
    box-shadow: 0 0 0 2px #00bcd4
}

.choices[data-type*=select-one]:after {
    content: "";
    height: 0;
    width: 0;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    border-width: 5px;
    position: absolute;
    right: 11.5px;
    top: 50%;
    margin-top: -2.5px;
    pointer-events: none
}

.choices[data-type*=select-one].is-open:after {
    border-color: transparent transparent #333 transparent;
    margin-top: -7.5px
}

.choices[data-type*=select-one][dir=rtl]:after {
    left: 11.5px;
    right: auto
}

.choices[data-type*=select-one][dir=rtl] .choices__button {
    right: auto;
    left: 0;
    margin-left: 25px;
    margin-right: 0
}

.choices[data-type*=select-multiple] .choices__inner,
.choices[data-type*=text] .choices__inner {
    cursor: text
}

.choices[data-type*=select-multiple] .choices__button,
.choices[data-type*=text] .choices__button {
    position: relative;
    display: inline-block;
    margin: 0 -4px 0 8px;
    padding-left: 16px;
    border-left: 1px solid rgba(129, 129, 165, 0);
    width: 8px;
    line-height: 1;
    opacity: .75;
    border-radius: 0
}

.choices[data-type*=select-multiple] .choices__button:focus,
.choices[data-type*=select-multiple] .choices__button:hover,
.choices[data-type*=text] .choices__button:focus,
.choices[data-type*=text] .choices__button:hover {
    opacity: 1
}

.choices__inner {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background: rgba(117, 120, 123, 0.05);
    overflow: hidden;
    border-bottom: 1px solid #75787B
}

.is-focused .choices__inner,
.is-open .choices__inner {
    border-color: #b7b7b7;
}

.is-open .choices__inner {
    border-radius: 2.5px 2.5px 0 0;
}

.is-flipped.is-open .choices__inner {
    border-radius: 0 0 2.5px 2.5px;
}

.choices__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.choices__list--single {
    display: inline-block;
    padding: 4px 16px 4px 4px;
    width: 100%
}

[dir=rtl] .choices__list--single {
    padding-right: 4px;
    padding-left: 16px
}

.choices__list--single .choices__item {
    width: 100%
}

.choices__list--multiple {
    display: inline
}

.choices__list--multiple .choices__item {
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 3.75px;
    margin-bottom: 3.75px;
    background-color: #8181a5;
    border: 1px solid #8181a5;
    color: #fff;
    word-break: break-all
}

.boot-choices {
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 3.75px;
    margin-bottom: 3.75px;
    background-color: #8181a5;
    border: 1px solid #8181a5;
    color: #fff;
    word-break: break-all
}

.choices__list--multiple .choices__item[data-deletable] {
    padding-right: 5px
}

[dir=rtl] .choices__list--multiple .choices__item {
    margin-right: 0;
    margin-left: 3.75px
}

.choices__list--multiple .choices__item.is-highlighted {
    background-color: #00a5bb;
    border: 1px solid #008fa1
}

.is-disabled .choices__list--multiple .choices__item {
    background-color: #aaa;
    border: 1px solid #919191
}

.choices__list--dropdown {
    display: none;
    z-index: 1;
    position: absolute;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    top: 100%;
    margin-top: -1px;
    border-bottom-left-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    overflow: hidden;
    word-break: break-all
}

.choices__list--dropdown.is-active {
    display: block
}

.is-open .choices__list--dropdown {
    border-color: #b7b7b7
}

.is-flipped .choices__list--dropdown {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: -1px;
    border-radius: .25rem .25rem 0 0
}

.choices__list--dropdown .choices__list {
    position: relative;
    max-height: 300px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position
}

.choices__list--dropdown .choices__item {
    position: relative;
    padding: 10px;
    font-size: 14px
}

[dir=rtl] .choices__list--dropdown .choices__item {
    text-align: right
}

@media (min-width:640px) {
    .choices__list--dropdown .choices__item--selectable {
        padding-right: 100px
    }
    .choices__list--dropdown .choices__item--selectable:after {
        content: attr(data-select-text);
        font-size: 12px;
        opacity: 0;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%)
    }
    [dir=rtl] .choices__list--dropdown .choices__item--selectable {
        text-align: right;
        padding-left: 100px;
        padding-right: 10px
    }
    [dir=rtl] .choices__list--dropdown .choices__item--selectable:after {
        right: auto;
        left: 10px
    }
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: #f2f2f2
}

.choices__list--dropdown .choices__item--selectable.is-highlighted:after {
    opacity: .5
}

.choices__item {
    cursor: default
}

.choices__item--selectable {
    cursor: pointer
}

.choices__item--disabled {
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: .5
}

.choices__heading {
    font-weight: 600;
    font-size: 12px;
    padding: 10px;
    border-bottom: 1px solid #f7f7f7;
    color: gray
}

.choices__button {
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==) 50% 50% no-repeat;
    background-size: 8px;
}

.choices__button:focus {
    outline: none
}

.choices__input {
    display: inline-block;
    vertical-align: baseline;
    background: transparent;
    font-size: 14px;
    margin-bottom: 5px;
    border: 0;
    border-radius: 0;
    max-width: 100%;
    padding: 4px 0 4px 2px
}

.choices__input:focus {
    outline: 0
}

[dir=rtl] .choices__input {
    padding-right: 2px;
    padding-left: 0
}

.choices__placeholder {
    opacity: .5
}

.choices[data-type*=select-multiple] .choices__input.is-hidden,
.choices[data-type*=select-one] .choices__input.is-hidden,
.choices__input.is-hidden {
    display: none
}

.toolkit {
    background: white !important;
}

select.expanded {
    height: 200px;
}

.nav-link[data-toggle].collapsed:after {
    content: " ▾";
}

.nav-link[data-toggle]:not(.collapsed):after {
    content: " ▴";
}

.cheil-text a {
    color: #333333;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #333333 !important;
    margin-bottom:5px;
}

.th-sm {
    color: #8181A5;
    font-weight: bolder;
}

.cheil-select option {
    background: #e6e8ed;
    color: #1c1d21;
}

.dataTable tr {
    background: white;
}

.modal p {
    position: absolute;
    top: 44%;
    left: 47%;
    font-weight: bold;
    font-size: 16px;
    color: green;
}

.columns tr {
    background: #fff !important;
}

.schedulertable input {
    width: 120px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.2em 0.8em !important;
    border: 0.2px solid !important;
}

.paginate_button.current {
    background: skyblue !important;
    border: 1px solid !important;
}

.eppsso a {
    color: blue;
}

.eppsso td {
    font-size: 15px;
    background: white;
}
.form-signin{
padding:10px;
}
.col-sm-3 span {
    padding: 10px;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 0;
}

.col-sm-9 span {
    padding: 10px;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 0;
}

.col-sm-full span {
    padding: 14px;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 0;
}

.col-sm-4 span {
    padding: 10px;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 0;
}

.col-sm-6 input + span {
    padding: 10px;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 0;
}

.col-sm-12 input + span {
    padding: 10px;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 0;
}

.searchtext {
    padding: 10px;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 0;
}

.inputbox-cheil:focus + span, .inputbox-cheil:not(:placeholder-shown) + span {
  opacity:1;
  transform: scale(0.75) translateY(-80%) translateX(10%);
  transform-origin: top left;
}

.inputbox-cheil-small:focus + span, .inputbox-cheil-small:not(:placeholder-shown) + span {
  opacity:1;
  transform: scale(0.75) translateY(-80%) translateX(15%);
  transform-origin: top left;
}

.inputbox-cheil-long:focus + span, .inputbox-cheil-long:not(:placeholder-shown) + span {
  opacity:1;
  transform: scale(0.75) translateY(-80%) translateX(7%);
  transform-origin: top left;
}

.inputbox-cheil-textarea:focus + span, .inputbox-cheil-textarea:not(:placeholder-shown) + span {
  opacity:1;
  transform: scale(0.75) translateY(-80%) translateX(10%);
  transform-origin: top left;
}


.inputbox-cheil-textarea-report:focus + span, .inputbox-cheil-textarea-report:not(:placeholder-shown) + span {
  opacity:1;
  transform: scale(0.75) translateY(-80%) translateX(8%);
  transform-origin: top left;
}

.inputbox-cheil-textarea-custom:focus + span, .inputbox-cheil-textarea-custom:not(:placeholder-shown) + span {
  opacity:1;
  transform: scale(0.75) translateY(-80%) translateX(8%);
  transform-origin: top left;
}

input:focus::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    opacity: 0;
}

input:focus::-moz-placeholder {
    /* Firefox 19+ */
    opacity: 0;
}

input:focus:-ms-input-placeholder {
    /* IE 10+ */
    opacity: 0;
}

input:focus:-moz-placeholder {
    /* Firefox 18- */
    opacity: 0;
}

textarea:focus+span {
    opacity: 1;
    transform: scale(0.75) translateY(-100%) translateX(-30px);
}

textarea:focus::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    opacity: 0;
}

textarea:focus::-moz-placeholder {
    /* Firefox 19+ */
    opacity: 0;
}

textarea:focus:-ms-input-placeholder {
    /* IE 10+ */
    opacity: 0;
}

textarea:focus:-moz-placeholder {
    /* Firefox 18- */
    opacity: 0;
}

.dtfh-floatingparenthead {
    display: none !important;
}

#tableData {
    max-width: 95% !important;


}

#tableData thead {
    top: 1px;
    position: sticky;
    z-index: 100;
    background: #fff;
    box-shadow: #e6e8ed 0 0px 0px 1px
}

.table-data-wrapper {
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    width: 100%;
}
#searchInput {
background:#fff
}
.ch {
    -ms-transform: scale(1.5); /* IE */
      -moz-transform: scale(1.5); /* FF */
      -webkit-transform: scale(1.5); /* Safari and Chrome */
      -o-transform: scale(1.5); /* Opera */
      transform: scale(1.5);
      margin-bottom: 10px;
}

.chall {
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
      }

.multiselect-selected-text{
    float: left;
}

.dropdown-menu.show{
    width:100%;
}

.multiselect{
    border:none !important;
    border-radius: 0px !important;
    background: rgba(117, 120, 123, 0.05);
    border-bottom: 1px solid #75787B !important;
}

input[type=file]::file-selector-button {
  background-color: rgb(51, 51, 51);
  color: white;
  border: none;
}

button.dt-button:first-child, div.dt-button:first-child, a.dt-button:first-child, input.dt-button:first-child {
    margin-left: -12px !important;
}
.dtr-data{
 display:block;
 white-space: normal;
}

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(../images/upload-excel.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #cc0000;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

.dataTables_wrapper .dataTables_filter {
    float:none !important;
    margin-top: -40px;
}

.dataTables_wrapper .dataTables_paginate {
    float:none !important;
}
.dataTables_filter{
margin-right:50px;
}

.note-editor a {
    color: black;
}

.btn-outline-secondary{
    background: brown !important;
    color:white !important;
}

.col-sm-2 span {
    padding: 10px;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 0;
    width: 60%;
}

.cat{
  overflow: hidden;
  float: left;
  margin-top:10px;
}

.cat label {
  float: left;
  width: 5.0em;
  margin-right: 5px;
}

.cat label span {
  text-align: center;
  padding: 3px 0;
  display: block;
  border-radius: 5px;
  border: 1px solid grey;
}

.cat label input {
  position: absolute;
  display: none;
  color: grey !important;
}

.cat input + span {
  opacity: 1 !important;
  position: inherit;
}
/* selects all of the text within the input element and changes the color of the text */
.cat label input + span{color: grey;}


/* This will declare how a selected input will look giving generic properties */
.cat input:checked + span {
    color: #fff;
    background-color: red;
    border-color: red;
}

.cat input:focus + span, .cat input:not(:placeholder-shown) + span {
  transform: none !important;
}

.inputbox-cheil-with-date:before {
    position: absolute;
    content: attr(data-date);
    display: inline-block;
    color: black;
}

.inputbox-cheil-with-date::-webkit-datetime-edit, input::-webkit-inner-spin-button, input::-webkit-clear-button {
    display: none;
}

.inputbox-cheil-with-date::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 15px;
    color: black;
    opacity: 1;
}

.inputbox-cheil-with-date {
    border-color: #75787B;
    background: rgba(117, 120, 123, 0.05);
    width: 100% !important;
    height: 40px;
    border-width: 0 0 1px;
    outline: 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  opacity:1 !important;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.inputbox-cheil-mini {
    border-color: #75787B;
    background: rgba(117, 120, 123, 0.05);
    width: 80% !important;
    height: 40px;
    border-width: 0 0 1px;
    outline: 0;
    padding: 0 3px 0 3px;
}
.inputbox-cheil-medium {
    border-color: #75787B;
    background: rgba(117, 120, 123, 0.05);
    width: 90% !important;
    height: 40px;
    margin: 7px 3px 0 3px !important;
    border-width: 0 0 1px;
    outline: 0;
    padding: 3px 3px 0 3px;
}