<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zero In Qa report</title>
    <style>
        table {
          border-collapse: collapse;
          width: 100%;
        }

        th, td {
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even){background-color: #f2f2f2}

        th {
          background-color: #ff4d4d;
          color: white;
        }
</style>
</head>
<body>
Hi, <br><br>Please find below the QA test result.<br><br>


<table border="1">
    <tr>
        <th>Test Name</th>
        <th>Test Group</th>
        <th>Error Message</th>

        <th>Pass count</th>
        <th>Time taken</th>
        <th>Result</th>

    </tr>
    <#setting date_format="dd-MM-yyyy">
    <#setting locale="de_DE">
    <#list qaTestResults as qaTestResult>
    <tr>
        <td>${qaTestResult.testNameDescription}</td>
        <td><a href="${qaTestResult.reportFilePath}">${qaTestResult.locatorGroupIdentifier}</a></td>
        <td><#if qaTestResult.failedSkusError??><#list qaTestResult.failedSkusError as key, value> ${key}=${value}<br></#list></#if></td>
        <td>${qaTestResult.testPassedCount}/${qaTestResult.testFailedCount+qaTestResult.testPassedCount}</td>
        <td>${qaTestResult.timeTaken}</td>
        <td>
            <#if qaTestResult.resultStatus ==3>
            PARTIALLY PASSED
            </#if>
            <#if qaTestResult.resultStatus ==2>
            FAILED
            </#if>
            <#if qaTestResult.resultStatus ==1>
            PASSED
            </#if>
        </td>
    </tr>
</#list>
</table>

<br><br>
<p>Kindly regards,</p>
<p>Zero-in team.</p>
</body>
</html>